@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Login", "Usuario")'">Login</button>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Register", "Usuario")'">Register</button>
</div>
