@{
    ViewData["Title"] = "HomeVendedores";
}

<section class="vh-100 bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="display-4">VENDEDORES</h1>
                <form action="@Url.Action("AñadirPublicacion", "Vendedores")">
                    <h2 class="h4 mt-4">Crear Publicación</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="titulo">Título</label>
                                <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Título..." required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Descripción..." required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" class="form-control" placeholder="$0.00" required />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Publicación</button>
                </form>
                <button class="btn btn-success mt-4" onclick="location.href='@Url.Action("HomeVendedores", "Vendedores" )'">Volver</button>
            </div>
        </div>
    </div>
</section>
