@{
    ViewData["Title"] = "Login";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">
                                <div class="text-center">
                                    <h1 class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</h1>
                                </div>
                                <form class="mx-1 mx-md-4" action=@Url.Action("CheckLogin", "Usuario")>
                                    <div class="mb-4">
                                        <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            <input type="text" name="nombreUsuario" id="form3Example1c" class="form-control" required/>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="contraseña" class="form-label">Contraseña</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                            <input type="password" name="contraseña" id="form3Example4c" class="form-control" required/>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
